#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// The applications main icon
//IDI_ICON1 ICON DISCARDABLE "icon.ico"

LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041904E4"
        {
            VALUE "CompanyName", "MegaFox"
            VALUE "FileVersion", "0.1"
            VALUE "FileDescription", "Библиотека для регистрации PATH"
            VALUE "InternalName", "PathLib"
            VALUE "LegalCopyright", "© 2020 - MegaFox"
            VALUE "LegalTrademarks", "PathLib"
            VALUE "ProductName", "PathLib"
            VALUE "ProductVersion", "0.1"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0419, 0x04E4
    }
}

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "100904E4"
        {
            VALUE "CompanyName", "MegaFox"
            VALUE "FileVersion", "0.1"
            VALUE "FileDescription", "PATH registration library"
            VALUE "InternalName", "PathLib"
            VALUE "LegalCopyright", "© 2020 - MegaFox"
            VALUE "LegalTrademarks", "PathLib"
            VALUE "ProductName", "PathLib"
            VALUE "ProductVersion", "0.1"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x1009, 0x04E4
    }
}

1 24 "pathlib.dll.manifest"